NODE_ENV=development
OBSERVE_APP_KEY=YOUR_APP_KEY
OBSERVE_APP_SECRET=YOUR_APP_SECRET
OBSERVE_SERVICE_ID=nestjs-boiler-plate

DATABASE_URL=postgres://postgres:postgres@localhost:5432/nestjs-boiler-plate